@use "/src/styles/reset.scss";
@use "/src/styles/utils.scss" as *;
.main-page {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.main-page__filters {
  width: 30%;
}
.btn {
  background-color: $blue;
  color: $white;
  border-radius: 10px;
  padding: 4px;
}
.filters {
  @include blue-border-box;
}

.filters__price {
}
.filters__stock {
}
.main-page__product-list {
  @include blue-border-box;
  width: 100%;
}
.product-list__header {
  @include blue-border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-list__sort-options {
}
.product-list__found {
}
.product-list__search-container {
}
.search-btn {
}
.product-list__view-switch {
  height: 20px; //temp
  width: 20px;
  background-color: $blue;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  @include blue-border-box;
  width: 25%;
  & img {
    // TODO make real layout
    max-width: 200px;
  }
}
.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
  border: 1px solid grey;
}

.vertical-slider {
  height: 380px;
  width: 50px;
  border: 1px solid grey;
}

.example-thumb {
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 5px solid gray;
  box-sizing: border-box;
}

.example-thumb.active {
  background-color: grey;
}

.example-track {
  position: relative;
  background: #ddd;
}

.example-track.example-track-1 {
  background: #f00;
}

.example-track.example-track-2 {
  background: #0f0;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 10px;
}

.horizontal-slider .example-thumb {
  top: 1px;
  width: 50px;
  height: 48px;
  line-height: 38px;
}
