@use "/src/styles/reset.scss";
@use "/src/styles/utils.scss" as *;
.main-page {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.main-page__filters {
  width: 30%;
}
.btn {
  background-color: $blue;
  color: $white;
  border-radius: 10px;
  padding: 4px;
}
.filters {
  @include blue-border-box;
}
.filters__category {
}
.filters__brand {
}
.filters__price {
}
.filters__stock {
}
.main-page__product-list {
  @include blue-border-box;
  width: 100%;
}
.product-list__header {
  @include blue-border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-list__sort-options {
}
.product-list__found {
}
.product-list__search-container {
}
.search-btn {
}
.product-list__view-switch {
  height: 20px; //temp
  width: 20px;
  background-color: $blue;
}
.product-container {
  display: flex;
}
.product-card {
  @include blue-border-box;
  width: 25%;
  & img {
    // TODO make real layout
    max-width: 200px;
  }
}
