.filters__checkbox {
  display: flex;
  flex-direction: column;
  height: 200px;
  overflow-y: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 10px;
  border: solid 2px blue;
  border-radius: 20px;
}
