@use "/src/styles/reset.scss";
@use "/src/styles/utils.scss" as *;
.header {
  padding: 4px;
  background-color: $blue;
  width: 100%; //fallback
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav__item {
  border: 1px solid $blue;
  min-width: 20px;
}
