@use "/src/styles/reset.scss";
@use "/src/styles/utils.scss" as *;
.footer {
  background-color: $blue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex-shrink: 0;
}
.footer__text {
  border: 1px solid $blue;
  min-width: 20px;
  font-size: 20px;
}
