@use "/src/styles/reset.scss";
@use "/src/styles/utils.scss" as *;

.error-container {
  @include blue-border-box;
  & p {
    font-size: 20px;
  }
  margin: 20px 20px;
}

.error-image {
  max-width: 80%;
}
