@use "/src/styles/reset.scss";
@use "/src/styles/utils.scss" as *;
div {
  // TODO delete after developing more awesome layout
  // temporary layout building helper
  // border: 1px solid red;
  margin: 4px 4px;
}

.wrapper {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-items: center;

  background-color: $white;
}
