@use "/src/styles/reset.scss";
@use "/src/styles/utils.scss" as *;
div {
  // temporary layout building helper
  // border: 1px solid red;
  margin: 4px 4px;
}

.wrapper {
  margin: 0; //temp
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white;
}
